.box {
  width: 4rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

h1 {
  text-align: center;
}
