#main {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

#main > h1 {
    margin: auto;
    margin-bottom: 10px;
}

.buttons, .demo {
    margin: auto;
    margin-top: 10px;
}

button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 10px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container {
    margin: auto;
    border: 3px solid #666699;
}

.row, .box, .in {
    width: 58px;
    height: 58px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0px;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 32px;
}

.row {
    width: 522px;
    display: flex;
}

.box {
    border-right: 1px solid #DDDDEE;
    border-bottom: 1px solid #DDDDEE;
}

.c2, .c5 {
    border-right: 3px solid #666699;
}

.c8 {
    border-right: 0px;
}

.r2, .r5 {
    border-bottom: 3px solid #666699;
}
